
.silk-dragula{
   .mat-checkbox-inner-container{
      margin-right:1.25rem;
   }

}
body .silk-dragula .mat-list-item div.mat-list-item-content {
 height: 40px;
    padding: 0;
}

.app-dark .silk-dragula .mat-list .mat-list-item {
  color: white;
}