<div class="silk-card border-success">
 <div class="silk-card">
     <div class="silk-card-title">
	 <div class="silk-head d-flex justify-content-between">
	     <div class="silk-pre">
		 <h4>رفع الفواتير</h4>
	     </div>
	 </div>
	                 <md-divider></md-divider>
     </div>
     <div class="silk-card-content widget-body">

	 <div class="row">
	     <div class="pr-1 col-xs-12 col-sm-2 col-md-2 col-lg-2 pre1">
		 <input class="form-control sp-wid" type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

		 <div class="clearfix"></div>
	     </div>
	     <div class="pr-1 col-xs-12 col-sm-8 col-md-8 col-lg-8">
		 <div class="pad-wrap">

		     <h6>
			 <span>عدد الرفع: {{ uploader?.queue?.length }}</span>
		     </h6>

		     <ngx-datatable class="material ml-0 mr-0 mb-3" [rows]="uploader.queue" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'">
			 <ngx-datatable-column name="الاسم" [flexGrow]="2">
			     <ng-template let-row="row" ngx-datatable-cell-template>
				 {{ row?.file?.name }}
			     </ng-template>
			 </ngx-datatable-column>
			 <ngx-datatable-column name="الحجم" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
			     <ng-template let-row="row" ngx-datatable-cell-template>
				 {{ row?.file?.size/1024/1024 | number:'.2' }} MB
			     </ng-template>
			 </ngx-datatable-column>
			 <ngx-datatable-column name="العملية" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
			     <ng-template let-row="row" ngx-datatable-cell-template>
				 <md-progress-bar mode="determinate" value="{{row.progress}}"></md-progress-bar>
			     </ng-template>
			 </ngx-datatable-column>
			 <ngx-datatable-column name="حالة" [flexGrow]="1">
			     <ng-template let-row="row" ngx-datatable-cell-template>
				 <span *ngIf="row.isSuccess"><md-icon>check</md-icon></span>
				 <span *ngIf="row.isCancel"><md-icon>الغاء</md-icon></span>
				 <span *ngIf="row.isError"><md-icon>حذف</md-icon></span>
			     </ng-template>
			 </ngx-datatable-column>
			 <ngx-datatable-column name="حدث" [flexGrow]="2">
			     <ng-template let-row="row" ngx-datatable-cell-template>
				 <button md-raised-button md-button-sm type="button" (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">رفع</button>
				 <button md-raised-button md-button-sm type="button" (click)="row.cancel()" [disabled]="!row.isUploading">الغاء</button>
				 <button md-raised-button md-button-sm type="button" (click)="row.remove()">حذف
       </button>
			     </ng-template>
			 </ngx-datatable-column>
		     </ngx-datatable>

		     <div class="mb-3">
			 <p>عملية الرفع : </p>
			 <md-progress-bar mode="determinate" value="{{uploader.progress}}"></md-progress-bar>
		     </div>
		     <button md-raised-button md-button-sm type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">رفع الكل</button>
		     <button md-raised-button md-button-sm type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">الغاء الكل</button>
		     <button md-raised-button md-button-sm type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">حذف الكل</button>
		 </div>
	     </div>
	 </div>
     </div>
 </div>
</div>