<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb3" widget>
        <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <h4>Alerts Blocks</h4>
                  <div class="card-controls">
                    <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                    <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="silk-card-content widget-body">
                <div>
                    <alert type="success">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </alert>
                    <alert type="info">
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </alert>
                    <alert type="warning">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </alert>
                    <alert type="danger">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </alert>
                </div>

                <div>
                    <div *ngFor="let alert of alerts">
                        <alert [type]="alert.type" dismissible="true">{{ alert.msg }}</alert>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" (click)="reset()">Reset</button>
                </div>

                <div>
                    <alert type="success" dismissOnTimeout="5000">
                        <strong>Well done!</strong> You successfully read this important alert message.
                    </alert>

                    <p>If you missed alert on top of me, just press <code>Add more</code> button</p>
                    <div *ngFor="let alert of alerts2">
                        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="add()">Add more</button>
                </div>
            </div>
        </div>