.line-icons-style{
    .line-icon{
       display: inline-block;
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: center;
    width: 33%;
    }
}
@media(max-width:1199px){
    .line-icons-style{
    .line-icon{
     
    width: 49%;
    }
}
}