<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
      <div class="silk-card border-success">
         <div class="silk-card-title d-flex justify-content-between">
            <h4>Typeahead</h4>
             <div class="card-controls">
                  <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                  <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                  <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
               </div>
         </div>
         <div class="silk-card-content widget-body">
            <pre class="card card-block card-header">Model: {{selected | json}}</pre>
            <input [(ngModel)]="selected" [typeahead]="states" class="form-control">
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
      <div class="silk-card border-success">
         <div class="silk-card-title d-flex justify-content-between">
            <h4>Typeahead</h4>
            
             <div class="card-controls">
                  <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                  <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                  <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
               </div>
         </div>
         <div class="silk-card-content widget-body">
            <pre class="card card-block card-header">Model: {{asyncSelected | json}}</pre>
            <input [(ngModel)]="asyncSelected" [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadNoResults)="changeTypeaheadNoResults($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionsLimit="7" typeaheadOptionField="name" placeholder="Locations loaded with timeout" class="form-control">
            <div *ngIf="typeaheadLoading===true">
               <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
            </div>
            <div *ngIf="typeaheadNoResults===true" class="" style="">
               <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
      <div class="silk-card border-danger">
         <div class="silk-card-title d-flex justify-content-between">
            <h4>Typeahead</h4>
             <div class="card-controls">
                  <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                  <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                  <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
               </div>
         </div>
         <div class="silk-card-content widget-body">
            <pre class="card card-block card-header">Model: {{groupSelected | json}}</pre>
            <input [(ngModel)]="groupSelected" [typeahead]="statesComplex2" typeaheadOptionField="name" typeaheadGroupField="region" class="form-control">
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
      <div class="silk-card border-success">
         <div class="silk-card-title d-flex justify-content-between">
            <h4>Typeahead</h4>
             <div class="card-controls">
                  <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                  <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                  <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
               </div>
         </div>
         <div class="silk-card-content widget-body">
            <!--Typeahead inside a form-->
            <pre class="card card-block card-header">Model: {{myForm.value.state | json}}</pre>
            <form [formGroup]="myForm">
               <input formControlName="state" [typeahead]="states2" typeaheadOptionsLimit="7" typeaheadMinLength="0" placeholder="Typeahead inside a form" class="form-control">
            </form>
         </div>
      </div>
   </div>
</div>
<div>
</div>
<div>
</div>

