<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
        <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <h4>Pagination 1</h4>
                  <div class="card-controls">
                    <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                    <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="silk-card-content widget-body">
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"></pagination>

                <pre class="mb-4 card card-block card-header">The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
                <button type="button" class="btn btn-info" (click)="setPage(3)">Set current page to: 3</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
             <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <h4>Pagination 2</h4>
                  <div class="card-controls">
                    <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                    <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="silk-card-content widget-body">
                <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"></pagination>
                <div>
                    <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
                </div>
                <pre class="mb-3 card card-block card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
                <div>
                    <div class="mb-4">
                        <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
                    </div>
                    <div>
                        <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged3($event)" pageBtnClass="btn" itemsPerPage="10"></pager>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
        <div class="silk-card border-success">
            <div class="silk-card-title d-flex justify-content-between">
                <h4>Sizing</h4>
                  <div class="card-controls">
                    <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                    <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="silk-card-content widget-body">
                <p>Fancy larger or smaller pagination? Add .pagination-lg or .pagination-sm for additional sizes.</p>
                <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4" widget>
        <div class="silk-card border-danger">
            <div class="silk-card-title d-flex justify-content-between">
                <h4>Alignment</h4>
                  <div class="card-controls">
                    <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                    <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="silk-card-content widget-body">
                <p>Change the alignment of pagination components with flexbox utilities.</p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>