

<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
      <div class="silk-card border-warning">
         <div class="silk-card-title">
            <h4>Simple Button</h4>
         </div>
         <div class="silk-card-content">
         <p>Bootstrap includes six predefined button styles, each serving its own semantic purpose.</p>
         <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
         <button type="button" class="btn btn-primary  mr-1 mb-1">Primary</button>
         <!-- Secondary, outline button -->
         <button type="button" class="btn btn-secondary  mr-1 mb-1">Secondary</button>
         <!-- Indicates a successful or positive action -->
         <button type="button" class="btn btn-success  mr-1 mb-1">Success</button>
         <!-- Contextual button for informational alert messages -->
         <button type="button" class="btn btn-info  mr-1 mb-1">Info</button>
         <!-- Indicates caution should be taken with this action -->
         <button type="button" class="btn btn-warning  mr-1 mb-1">Warning</button>
         <!-- Indicates a dangerous or potentially negative action -->
         <button type="button" class="btn btn-danger  mr-1 mb-1">Danger</button>
         <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
         <button type="button" class="btn btn-link  mr-1 mb-1">Link</button>
      </div>
       </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
      <div class="silk-card border-warning">
         <div class="silk-card-title">
            <h4>Single Button</h4>
         </div>
         <div class="silk-card-content">
            <p>The .btn classes are designed to be used with the <code>button</code> element. However, you can also use these classes on anchor and input elements (though some browsers may apply a slightly different rendering).</p>
            <a class="btn btn-primary mr-1 mb-1" href="#" role="button">Link</a>
            <button class="btn btn-primary mr-1 mb-1" type="submit">Button</button>
            <input class="btn btn-primary mr-1 mb-1" type="button" value="Input">
            <input class="btn btn-primary mr-1 mb-1" type="submit" value="Submit">
            <input class="btn btn-primary mr-1 mb-1" type="reset" value="Reset">
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
      <div class="silk-card border-warning">
         <div class="silk-card-title">
            <h4>Outline buttons</h4>
         </div>
         <div class="silk-card-content">
            <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the .btn-outline-* ones to remove all background images and colors on any button.</p>
            <button type="button" class="btn btn-outline-primary mr-1 mb-1">Primary</button>
            <button type="button" class="btn btn-outline-secondary mr-1 mb-1">Secondary</button>
            <button type="button" class="btn btn-outline-success mr-1 mb-1">Success</button>
            <button type="button" class="btn btn-outline-info mr-1 mb-1">Info</button>
            <button type="button" class="btn btn-outline-warning mr-1 mb-1">Warning</button>
            <button type="button" class="btn btn-outline-danger mr-1 mb-1">Danger</button>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
      <div class="silk-card border-warning">
         <div class="silk-card-title">
            <h4>Sizes</h4>
         </div>
         <div class="silk-card-content">
            <p>Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes.</p>
            <button type="button" class="btn btn-primary btn-lg mr-1 mb-1">Large button</button>
            <button type="button" class="btn btn-secondary btn-lg mr-1 mb-1">Large button</button>
            <button type="button" class="btn btn-primary btn-sm mr-1 mb-1">Small button</button>
            <button type="button" class="btn btn-secondary btn-sm mr-1 mb-1">Small button</button>
            <button type="button" class="btn btn-primary btn-lg btn-block mr-1 mb-1">Block level button</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block mr-1 mb-1">Block level button</button>
         </div>
      </div>
   </div>
  
</div>

