<div class="silk-card border-primary">
     <div class="silk-card">
            <div class="silk-card-title">
                <div class="silk-head">
                    <div class="silk-pre">
                        <h4>شاشة رفع الفواتير</h4>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
            <div class="silk-card-content">
               <form>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">طريقة رقع الفواتير    </label>
		    <div class="col-4">
			<label><input checked="checked" name="q1" type="radio" />  تحميل بصيغة ملف اكسل</label>
		    </div>
		    <div class="col-4">
			<label><input name="q1" type="radio" />  ادخال بيانات الفاتورة</label>
                    </div>
                </div>
                <div class="form-group row">
		    <div class="col-6">
			<label for="example-search-input" class="col-form-label">اسم الشركة المراد فوترتها</label>
			<div class="col-8">
			    <input class="form-control" type="text" placeholder="Amazon">
			</div>
		    </div>
		    <div class="col-6">
			<label for="example-email-input" class="col-form-label">رقمها</label>
			<div class="col-8">
			    <input class="form-control" type="text" placeholder="123456789" id="example-email-input">
			</div>
		    </div>
                </div>
                <div class="form-group row">
		    <div class="col-6">
			<label for="example-url-input" class="col-form-label">الحد الأدنى المسموح </label>
			<div class="col-8">
			    <input class="form-control" type="text" placeholder="100" id="example-url-input">
			</div>
		    </div>
		    <div class="col-6">
			<label for="example-tel-input" class="col-form-label">الحد الأعلى</label>
			<div class="col-8">
			    <input class="form-control" type="text" placeholder="1000" id="example-tel-input">
			</div>
		    </div>
                </div>
                <div class="form-group row">
		    <div class="col-6">
                    <label for="example-number-input" class="col-form-label">امكانية الدفع الجزئي</label>    
		    <div class="col-8">
                        <input class="form-control" type="text" placeholder="ممكن" id="example-biller-input">
                    </div>
                    </div>
		    <div class="col-6">
                    <label for="example-number-input" class="col-form-label">حالة الفاتورة</label>    
		    <div class="col-8">
                        <select class="form-control" type="text">
			    <option>مدفوع</option>
			    <option>مدفوع جزئي</option>
			    <option>غير مدفوع</option>
			</select>
                    </div>
		     </div>
                </div>
                <div class="form-group row">
		    <div class="col-12">
                        <button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan box-shadow" type="submit">ترحيل</button>
		    </div>
                </div>
                <div class="form-group row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2" widget>
				    <div class="silk-card-content widget-body">
					<table class="table">
					    <thead class="thead-default">
						<tr>
						    <th>رقم الفاتورة</th>
						    <th>الحد الأدنى</th>
						    <th>الحد الأعلى</th>
						    <th>دفع جزئي</th>
						    <th>تاريخ الترحيل</th>
						</tr>
					    </thead>
					    <tbody>
						<tr>
						    <th scope="row">123456789</th>
						    <td>100</td>
						    <td>1000</td>
						    <td>102</td>
						    <td>12/8/2018</td>
						</tr>
						<tr>
						    <th scope="row">1234887</th>
						    <td>105</td>
						    <td>1111</td>
						    <td>621</td>
						    <td>3/9/2018</td>
						</tr>
					    </tbody>
					</table>
				    </div>
			    </div>
                </div>
	       </form>
            </div>
        </div>
</div>

