<div class="silk-card">

<div class="pricing-plans">
   <div class="wrap">
      <div class="row pricing-grids">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="pricing-grid1 text-center">
            <div class="price-value bg-primary">
               <h3><a href="#"> BASIC</a></h3>
               <h5>
                  <span class="text-warning">$ 15.99 / month</span>
                
               </h5>
              
            </div>
            <div class="price-bg">
               <ul>
                  <li class="whyt"><a href="#">5GB Disk Space </a></li>
                  <li><a href="#">10 Domain Names</a></li>
                  <li class="whyt"><a href="#">5 E-Mail Address </a></li>
                  <li><a href="#">50GB Monthly Bandwidth </a></li>
                  <li class="whyt"><a href="#">Fully Support</a></li>
               </ul>
               <div class="cart1">
                  <a class="popup-with-zoom-anim bg-warning" href="#small-dialog">Purchase</a>
               </div>
            </div>
         </div>
      </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
               <div class="pricing-grid1 text-center">
            <div class="price-value bg-primary">
               <h3><a href="#"> Preamium</a></h3>
               <h5>
                  <span class="text-warning">$ 39.99 / month</span>
                
               </h5>
               <div class="sale-box">
                  <span class="on_sale title_shop bg-warning">New</span>
               </div>
            </div>
            <div class="price-bg">
               <ul>
                  <li class="whyt"><a href="#">5GB Disk Space </a></li>
                  <li><a href="#">10 Domain Names</a></li>
                  <li class="whyt"><a href="#">5 E-Mail Address </a></li>
                  <li><a href="#">50GB Monthly Bandwidth </a></li>
                  <li class="whyt"><a href="#">Fully Support</a></li>
               </ul>
               <div class="cart1">
                  <a class="popup-with-zoom-anim bg-warning" href="#small-dialog">Purchase</a>
               </div>
            </div>
         </div>
         </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="pricing-grid1 text-center">
            <div class="price-value bg-primary">
               <h3><a href="#">Gold</a></h3>
               <h5>
                  <span class="text-warning">$ 59 / month</span>
                
               </h5>
              
            </div>
            <div class="price-bg">
               <ul>
                  <li class="whyt"><a href="#">5GB Disk Space </a></li>
                  <li><a href="#">10 Domain Names</a></li>
                  <li class="whyt"><a href="#">5 E-Mail Address </a></li>
                  <li><a href="#">50GB Monthly Bandwidth </a></li>
                  <li class="whyt"><a href="#">Fully Support</a></li>
               </ul>
               <div class="cart1">
                  <a class="popup-with-zoom-anim bg-warning" href="#small-dialog">Purchase</a>
               </div>
            </div>
         </div>
    </div>
      </div>
   
   </div>
</div>
</div>
