<div class="row silk-file-upload">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" widget>
        <div class="silk-card border-success">
            <div class="silk-card-title">
                <div class="silk-head d-flex justify-content-between">
                    <div class="silk-pre">
                        <h4>Global Locations</h4>
                    </div>
                    <div class="card-controls">
                        <a class="transition" data-widgster="expand" href="#"><i class="fa fa-chevron-down"></i></a>
                        <a class="transition" data-widgster="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                        <a class="transition" data-widgster="close" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="silk-card-content widget-body">

                <div class="row">
                    <div class="pr-1 col-xs-12 col-sm-2 col-md-2 col-lg-2">

                        <h6>Select files</h6>
                        <div class="file-type" ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader">Base drop zone</div>

                        <div class="file-type" ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader">Another drop zone</div>

                        <p>Multiple</p>
                        <input class="mb-3" type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

                        <div class="clearfix"></div>

                        <p>Single</p>
                        <input type="file" ng2FileSelect [uploader]="uploader" />
                    </div>
                    <div class="pr-1 col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="pad-wrap">

                            <h6 class="row">
                                <span>Upload queue</span>
                                <span>Queue length: {{ uploader?.queue?.length }}</span>
                            </h6>

                            <ngx-datatable class="material ml-0 mr-0 mb-3" [rows]="uploader.queue" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'">
                                <ngx-datatable-column name="Name" [flexGrow]="2">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.file?.name }}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Size" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.file?.size/1024/1024 | number:'.2' }} MB
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Progress" *ngIf="uploader.options.isHTML5" [flexGrow]="1">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <md-progress-bar mode="determinate" value="{{row.progress}}"></md-progress-bar>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Status" [flexGrow]="1">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span *ngIf="row.isSuccess"><md-icon>check</md-icon></span>
                                        <span *ngIf="row.isCancel"><md-icon>cancel</md-icon></span>
                                        <span *ngIf="row.isError"><md-icon>delete</md-icon></span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Action" [flexGrow]="2">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button md-raised-button md-button-sm type="button" (click)="row.upload()" [disabled]="row.isReady || row.isUploading || row.isSuccess">Upload</button>
                                        <button md-raised-button md-button-sm type="button" (click)="row.cancel()" [disabled]="!row.isUploading">Cancel</button>
                                        <button md-raised-button md-button-sm type="button" (click)="row.remove()">Remove
              </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>

                            <div class="mb-3">
                                <p>Queue progress:</p>
                                <md-progress-bar mode="determinate" value="{{uploader.progress}}"></md-progress-bar>
                            </div>
                            <button md-raised-button md-button-sm type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload all</button>
                            <button md-raised-button md-button-sm type="button" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">Cancel all</button>
                            <button md-raised-button md-button-sm type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">Remove all</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>